body {
	line-height: 1.5;
	margin: 2% 10% 2% 10%;
	font-family: Tahoma, Geneva, sans-serif;
}

.header {
	text-align: center;
	font-size: 22px;
}

.myicon {
	width: 150px;
	float: left;
	margin-right: 15px;
	margin-bottom: 10px;
}

.sectiontitle {
	font-size: 18px;
	font-weight: bold;
	clear: both;
}

.sectioncontent {
	font-size: 17px;
	font-weight: normal;
}

.date {
	font-size: 15px;
	font-style: italic;
}

.me {
	font-weight: bold;
	text-decoration: underline;
}

.email {
	font-size: 14px;
}

.appicon {
	width: 25px;
}

.new {
	height: 20px;
	width: 40px;
}

.author{
	color:#080808;
	font-family: Tahoma, Geneva, sans-serif;
}

.venue {
	color: #080808;
	font-style: italic;
	font-family: Tahoma, Geneva, sans-serif;
}

.article {
	color: #000000;
	font-size: 18px;
}

.image {
	height: 30px;
	width: 30px;
}

a:link {
	color: #337ab7;
	text-decoration: none;
}

a:hover {
	border-bottom: 1px dotted #000;
	color: #337adf;
	text-decoration: none;
}

a:visited {
	color: #337ab7;
	text-decoration: none;
}

.category {
	color: #000000;
	font-weight: bold;
	font-size: 17px;
}

.pdf {
	font-size: 16px;
	font-family: Times New Roman, serif;
}

#secintro {
	font-weight: normal;
	font-size: 17px;
	overflow: hidden;
}

@media (max-width: 600px) {
	body {
		margin: 2% 5% 2% 5%;
	}
	.myicon {
		float: none;
		display: block;
		margin: 0 0 10px 0;
		width: 120px;
	}
}
